<%- include("../partials/header")  %>

<div class="central-window">

<h2>Available furnishings</h2>

<% if (items.length) { %>

<table id="list">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Quality</th>
        <th> Zipcode</th>
      </tr>
    </thead>
    <br>
    <tbody>

      <% items.forEach(function(i) { %>
      <tr>
        <td><%= i.object %> </td>
        <td><%= i.quantity %> </td>
        <td><%= i.quality %> </td>
        <td><%= i.zipCode %> </td>
        <td><a class="link" href="/furnishings/<%= i.id %>">details</a></td>
      </tr>
      <%  }); %> 

    </tbody>
</table>
<% } else { %>
  <h5>No items listed at the moment</h5>
<% } %>

<br><br>

</div>

<%- include("../partials/footer")  %> 