<%- include("../partials/header")  %>

<section>
    <div><em>Item:</em></div>
    <div><%= item.object %> </div>
    <div><em>Quantity:</em></div>
    <div><%= item.quantity %> </div>
    <div><em>Quantity</em></div>
    <div><%= item.quality %> </div>
    <div><em>Location:</em></div>
    <div><%= item.location %> </div>
    <div><em>Zipcode:</em></div>
    <div><%= item.zipCode %> </div>
    
</section>

<h2>Add Notes:</h2>

<form id="note-form" method="POST" action="/furnishings/<%= item._id %>/notes">
    <label>Notes:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add notes">
  </form>

  <% if (item.notes.length) { %>

    <table>
      <thead>
        <tr>
          <th>Notes/comments:</th>
        </tr>
      </thead>
      <tbody>
        <% item.notes.forEach(function(n) { %>
          <tr>
            <td><%= n.content %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No notes added yet</h5>
  <% } %>

<%- include("../partials/footer")  %>