<%- include("../partials/header")  %>

<h1>This is the show page</h1>

<section>
    <div><em>Item:</em></div>
    <div><%= item.object %> </div>
    <div><em>Quantity:</em></div>
    <div><%= item.quantity %> </div>
    <div><em>Quantity</em></div>
    <div><%= item.quality %> </div>
    <div><em>Location:</em></div>
    <div><%= item.location %> </div>
    <div><em>Zipcode:</em></div>
    <div><%= item.zipCode %> </div>
    
</section>

<%- include("../partials/footer")  %>