<%- include("../partials/header")  %>

<div class="central-window">

<section>
    <div><em>Item:</em></div>
    <div><%= item.object %> </div>
    <div><em>Quantity:</em></div>
    <div><%= item.quantity %> </div>
    <div><em>Quantity</em></div>
    <div><%= item.quality %> </div>
    <div><em>Location:</em></div>
    <div><%= item.location %> </div>
    <div><em>Zipcode:</em></div>
    <div><%= item.zipCode %> </div>
</section>

<% if (user) { %> 

<h4>Add Notes:</h4>
<form id="note-form" method="POST" action="/furnishings/<%= item._id %>/notes">
    <textarea name="content"></textarea>
    <br>
    <input type="submit" value="Add notes">
  </form>

<% } else { %>

<h4>Log in to leave notes</h4>

<% } %> 

  <% if (item.notes.length) { %>

    <table>
      <thead>
        <tr>
          <th>Notes/comments:</th>
        </tr>
      </thead>
      <tbody>
        <% item.notes.forEach(function(n) { %>
        <tr>
          <td><%= n.content %></td>
        </tr>
          <td>
            <% if (user && n.userId == user._id) { %>
            <form action="/notes/<%= n._id %>?_method=DELETE" method="POST">
            <button type="submit">delete note</button>
            </form>
            <% } %> 
          </td>
        <% }); %>
      </tbody>
    </table>

  <% } else { %>

    <h5>No notes added yet</h5>

  <% } %>

</div>

<%- include("../partials/footer")  %>